p{
    font-size: large;
}

ul{
    list-style: none;
}

#flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button{
}

#clear{
  clear: both;
}

mat-card{
    margin-bottom: 1em;
}
