<p id="treename">Tree {{tree.id}}:</p>
<p>The {{tree.type}} has a heigt of {{tree.heightMeters}}m and costs {{tree.price}}€.</p>
<p>To purchase the tree please enter your personal information.</p>
<br>
<form [formGroup]="myForm">

  <p>Name:</p>
    <mat-form-field >
        <mat-label>Firstname:</mat-label>
        <input matInput formControlName="firstname" type="text" placeholder="Type firstname">
        <mat-error *ngIf="myForm.controls['firstname'].invalid">
            Please enter a firstname!
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Lastname:</mat-label>
        <input matInput formControlName="lastname" type="text">
      <mat-error *ngIf="myForm.controls['lastname'].invalid">
        Please enter a lastname!
      </mat-error>
    </mat-form-field>

    <p>Address:</p>
    <mat-form-field>
        <mat-label>Street:</mat-label>
        <input matInput formControlName="street" type="text">
      <mat-error *ngIf="myForm.controls['street'].invalid">
        Please enter a streetname!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>PLZ:</mat-label>
        <input matInput formControlName="plz" minlength="4" type="text">
        <mat-error *ngIf="myForm.controls['plz'].invalid">
          Please enter a valid plz!
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Location:</mat-label>
        <input matInput formControlName="location" type="text">
        <mat-error *ngIf="myForm.controls['location'].invalid">
          Please enter a location!
        </mat-error>
    </mat-form-field>

  <br>

    <button mat-flat-button color="primary" type="submit"  [disabled]="!myForm.valid" (click)="submitForm()">Buy</button>

</form>
